body{
    background-color: rgb(200, 200, 200);
}

#botones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
}

#botones button {
    flex: 1;     
    padding: 15px;
    font-size: 16px;
}

#botones button:focus + button {
    background-color: yellow;
}

#botones:focus-within button {
    background-color: red;
}

#botones button:focus {
    background-color: blue;
}   